/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

* {
  box-sizing: border-box;
  font-family: Sudo, Iosevka, monospace;
}

button {
  box-sizing: border-box;
  background: inherit;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0 0.5rem;
}

button:hover {
  background: #fde047;
}

body {
padding: 0;
margin: 0;
height: 100vh;
width: 100vw;
overflow: hidden;
}

.main-workspace {
display: flex;
background: #78716c;
}

.main-panel {
height: 100vh;
}

.main-panel.left {
width: 420px;
border-right: 1px solid #292524;
}

.main-panel.middle {
  flex: 1;
}

.main-panel.right {
width: 740px;
position: relative;
overflow: hidden;
border-left: 1px solid #292524;
}

.panel-container {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
}

.top-bar {
height: 1.5rem;
display: flex;
background: #ecfeff;
}

.filename-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
}

.scrap-container {
flex: 1;
display: flex;
flex-direction: column;
}

.scrap {
  border: none;
  font-size: 15px;
  flex: 1;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 1rem;
  outline: none;
  white-space: pre-wrap;
  background: #fffbeb;
}

.desk {
width: 100%;
flex: 1;
}

#desk {
  display: flex;
  flex: 1;
}


.card, #current-editing-card-textarea {
  white-space: pre-wrap;
  font-size: 13px;
  line-height: 1;
  background: #fffbeb;
  border: 1px solid #a5f3fc;
  overflow: hidden;
}

.card {
  background: #fffbeb;
  cursor: normal;
  cursor: default;
  display: flex;
  flex-direction: column;
}

.colour-pin {
  padding-right: 2px;
  cursor: pointer;
  z-index: 100;
}

.colour-pin:hover {
  font-size: 18px;
}

.archived .colour-pin:hover {
  font-size: inherit;
  cursor: default;
}

.card-header {
  font-size: 10px;
  height: 10px;
  display: flex;
  padding: 1px;
  justify-content: flex-end;
  /*  background: #fef3c7; */
}

.card-content, #current-editing-card-textarea {
  color: #1c1917;
  padding: 0rem 0.6rem 0.6rem 0.6rem;
  flex: 1;
}

.card .card-content::first-line {
  font-weight: bold;
  color: black;
}

.card.on-desk {
position: absolute;
}

.card.on-desk.editing {
  outline: 2px solid #06b6d4;
}

#current-editing-card-textarea {
width: 100%;
height: 100%;
border: 0;
resize: none;
outline: none;
}


#current-editing-card-textarea::first-line {
  font-weight: bold;
  color: black;
}

.slipbox-container {
  height: 100%;
  width: 360px;
  margin: 0 auto;
  padding: 20px;
}

.slipbox-cards {
  margin-top: 0.5rem;
  position: relative;
  height: 100%;
}

.card.in-slipbox {
  position: absolute;
  box-shadow: 0 0 4px 0px #155e75;
}

.card.in-slipbox:hover {
  margin-top: -1rem;
}

.card.in-slipbox .colour-pin {
  z-index: inherit;
}

span.search-match {
  color: red !important;
}

.middle-bar {
  width: 100%;
  display: flex;
}

.colour-filter-button {
  background: #67e8f9;
  padding: 0 0.25rem;
}

.search-string-input, .archive-search {
  flex: 1;
  width: 100%;
  background: #cffafe;
  border: none;
  padding: 2px;
  margin: none;
  text-align: right;
  outline: none;
}

.arrangement-name-input {
  width: 50%;
  background: inherit;
  border: none;
  outline: none;
}

.arrangement-buttons {
  flex: 1;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.arrangement-buttons button {
  max-width: 4rem;
  overflow: hidden;
}

.arrangement-buttons button:hover {
  max-width: none;
}

.search-order-button {
  background: #67e8f9;
}

.archive-view {
  background: #44403c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  padding-bottom: 1rem;
}

.archive-grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto;
  padding: 1rem;
}

.archive-grid {
  flex: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.archived {
  margin: 0.5rem;
}

.archived.scrap {
  width: 320px;
  height: 240px;
  padding: 0.5rem;
  background: #f5f5f4;
  font-size: 11px;
  overflow: auto;
}

.archived.scrap:hover {
  width: 100%;
  height: 100%;
  font-size: 15px;
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.archive-search {
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  .left.main-panel {
    width: 0.5rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background:  #cffafe;
    border-right: 2px solid  #cffafe;
  }

  .left.main-panel:hover {
    width: 380px;
    background: #78716c;
  }

  .right.main-panel {
    width: 660px;
  }

  .scrap {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 12px;
  }
}


/* DEVELOPMENT STYLES FOR EASE OF VISUALISATION */
/*
.card {
background: white;
border: 1px solid black;
}

.desk {
background: yellow;
}

.scrap {
background: white;
}

.scrap-container {
background: orange;
}

.main-panel.right {
background: blue;
}

.main-panel.middle {
background: green;
}

.main-panel.left {
background: red;
}

.main-panel {
border: black;
}

*/
