/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

* {
  box-sizing: border-box;
  font-family: Iosevka, monospace;
}

button {
  box-sizing: border-box;
  background: inherit;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0 0.5rem;
}

button:hover {
  background: #fde047;
}

body {
padding: 0;
margin: 0;
height: 100vh;
width: 100vw;
overflow: hidden;
}

.main-workspace {
display: flex;
background: #78716c;
}

.main-panel {
height: 100vh;
}

.main-panel.left {
width: 20%;
border-right: 1px solid #292524;
}

.main-panel.middle {
width: 40%;
}

.main-panel.right {
width: 40%;
position: relative;
overflow: hidden;
border-left: 1px solid #292524;
}

.panel-container {
display: flex;
flex-direction: column;
height: 100%;
position: relative;
}

.top-bar {
height: 1.5rem;
display: flex;
background: #ecfeff;
}

.filename-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
}

.scrap-container {
flex: 1;
display: flex;
flex-direction: column;
}

.scrap {
  border: none;
  font-size: 10pt;
  flex: 1;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 1rem;
  outline: none;
  white-space: pre-wrap
}

.desk {
width: 100%;
height: 100vh;
position: absolute;
top: 0;
left: 0;
}

#desk {
height: 100vh;
}

.scrap {
  background: #fffbeb;
  font-size: 11pt;
}

.card, #current-editing-card-textarea {
  white-space: pre-wrap;
  font-size: 10pt;
  line-height: 1.2;
  background: #fffbeb;
  border: 1px solid #a5f3fc;
  overflow: hidden;
}

.card {
  background: #fffbeb;
  cursor: normal;
  cursor: default;
}

.card-content, #current-editing-card-textarea {
  color: #1c1917;
  padding: 0.7rem;
}

.card .card-content::first-line {
  font-weight: bold;
  color: black;
}

.card.on-desk {
position: absolute;
}

.card.on-desk.editing {
  outline: 2px solid #06b6d4;
}

#current-editing-card-textarea {
width: 100%;
height: 100%;
border: 0;
resize: none;
outline: none;
}


#current-editing-card-textarea::first-line {
  font-weight: bold;
  color: black;
}

.slipbox-container {
  height: 100%;
  overflow-y: auto;
  width: 360px;
  margin: 0 auto;
  padding: 20px;
}

.slipbox-cards {
  position: relative;
  height: 100%;
}

.card.in-slipbox {
  position: absolute;
  box-shadow: 0 0 2px 0px #155e75;
}

.archive-view {
  background: #44403c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: stretch;
  padding-bottom: 1rem;
}

.archive-grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto;
  padding: 1rem;
}

.archive-grid {
  flex: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 0.5rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.archived {
  margin: 0.5rem;
}

.archived.scrap {
  width: 320px;
  height: 240px;
  background: #f5f5f4;
  font-size: 7pt;
  overflow: auto;
}

.archived.scrap:hover {
  width: 100%;
  height: 100%;
  font-size: 9pt;
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}




/* DEVELOPMENT STYLES FOR EASE OF VISUALISATION */
/*
.card {
background: white;
border: 1px solid black;
}

.desk {
background: yellow;
}

.scrap {
background: white;
}

.scrap-container {
background: orange;
}

.main-panel.right {
background: blue;
}

.main-panel.middle {
background: green;
}

.main-panel.left {
background: red;
}

.main-panel {
border: black;
}

*/
